<!DOCTYPE html>
<html lang="en">

<head>
  <title>iHungry</title>
  <link rel="shortcut icon" type="image/jpg" href="/images/favicon.ico">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- External Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,900;1,200;1,400;1,600;1,900&display=swap"
    rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

    <main>

      <%- include('partials/_product-view') %>

        <%- include('partials/_cart') %>

          <%- include('./partials/_type-cards') %>
            <div id="products">
            </div>

            <section class="orders">
              <div id="current-order">
                <div>
                  <span id="counter">Counter</span>
                  <span class="list-current-order">
                    <p>order #</p>
                    <p>Uniquely Creative Burger</p>
                    <p>Macho Nacho Burger</p>
                    <p>Black and Blue Burger</p>
                    <p>Total price <strong>$0.00</strong></p>
                  </span>
                </div>
                <p>Status: We are ready to feed you!</p>
              </div>

              <%- include('partials/_orders') %>
            </section>



            <!-- <div class="modal cart">
              <%- include('partials/_cart') %>
            </div> -->

    </main>

    <nav id='navbar'>
      <a href="/" class="menu">
        <i class="fas fa-book-open"></i>
      </a>

      <a href="/api/users/orders" class="orders">
        <i class="far fa-list-alt"></i>
      </a>

      <a href="#" class="shopping-cart">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <a href="#" class="notification">
        <i class="fas fa-envelope"></i>
      </a>
    </nav>

</body>

</html>
